<ion-header>
  <ion-toolbar>
    <ion-title>User Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
      <ion-button (click)="toggleCanEdit()">
        <ion-icon slot="icon-only" name="create-outline"> </ion-icon>
      </ion-button>

      <ion-button (click)="deleteUser()">
        <ion-icon slot="icon-only" name="trash-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="user-form" [formGroup]="userDetailsForm" (ngSubmit)="updateUser()">
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input
        formControlName="firstName"
        type="text"
        readonly="{{ !canEdit }}"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">First surname</ion-label>
      <ion-input
        formControlName="surname1"
        type="text"
        readonly="{{ !canEdit }}"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Second surname</ion-label>
      <ion-input
        formControlName="surname2"
        type="text"
        readonly="{{ !canEdit }}"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email address</ion-label>
      <ion-input
        formControlName="email"
        type="text"
        readonly="{{ !canEdit }}"
      ></ion-input>
    </ion-item>
    <ion-button *ngIf="canEdit" type="submit">SAVE</ion-button>
  </form>
</ion-content>
