<ion-header>
  <ion-toolbar>
    <ion-title>User Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="user-form" [formGroup]="addUserForm" (ngSubmit)="addUser()">
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input formControlName="firstName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">First surname</ion-label>
      <ion-input formControlName="surname1" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Second surname</ion-label>
      <ion-input formControlName="surname2" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email address</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-button type="submit">ADD</ion-button>
  </form>
</ion-content>
